                // 减小弹出菜单的项目高度
                .el-menu--popup {
                    .el-menu-item {
                        height: 36px;
                        line-height: 36px;
                    }
                    .el-submenu__title {
                        height: 36px;
                        line-height: 36px;
                    }
                }
                
                .el-menu .el-submenu i.fa,
                .el-menu .el-menu-item i.fa {
                    font-size: 16px;
                    margin-right: 4px;
                }
                
                .el-menu .el-menu-item {
                    border-bottom: none;
                }
                
                .el-menu .el-submenu .el-submenu__title {
                    border-bottom: none;
                }
                
                // [菜单] 正常状态
                .el-menu {
                    @extend %unable-select;
                    background-color: transparent !important;
                    border-right: none !important;
                    border-bottom: none;
                }
                
                // .el-menu--vertical {
                //     background-color: white;
                // }
                .el-submenu {
                    @extend %unable-select;
                }
                
                // 背景上面的半透明遮罩
                .coframe-layout-header-aside-mask {
                    @extend %full;
                }